<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565205079973-smfatp4if21sp9opipucdvithg2i7hpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565205079973-smfatp4if21sp9opipucdvithg2i7hpk</string>
	<key>API_KEY</key>
	<string>AIzaSyCU6h9BalteC67Vj3aDXCeoE9aR3ls1FFw</string>
	<key>GCM_SENDER_ID</key>
	<string>565205079973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.documentScannerWithMl</string>
	<key>PROJECT_ID</key>
	<string>documentscannerwithml</string>
	<key>STORAGE_BUCKET</key>
	<string>documentscannerwithml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565205079973:ios:b9c8226fd5f74cd1c17a4c</string>
</dict>
</plist>