<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35186003403-uilrfj11j1oaj5msocg2j45332f66lcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35186003403-uilrfj11j1oaj5msocg2j45332f66lcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBUAXB5Ry0vvXQCtWZ2TMenVgeSGQThcRE</string>
	<key>GCM_SENDER_ID</key>
	<string>35186003403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceDetectionByFirebaseMl</string>
	<key>PROJECT_ID</key>
	<string>facedetectionbyfirebaseml</string>
	<key>STORAGE_BUCKET</key>
	<string>facedetectionbyfirebaseml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35186003403:ios:075628f94ace4569917a4e</string>
</dict>
</plist>